* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.about-me,
.projects,
.form-section {
  animation: fade 2s ease;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.active {
  text-decoration: underline;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.hide {
  display: none;
}

/* header section */

.header {
  min-height: 10vh;
  background: #142850;
  color: white;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header button {
  background: white;
}

.header button:hover {
  background: #7b7e81;
}

.ham-menu img {
  height: 2rem;
  width: 2rem;
}

.navbar-brand {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myName {
  padding-left: 1rem;
  color: white;
  text-shadow: 2px 2px black;
}

.links {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-shadow: 2px 2px black;
}

.links li {
  padding: 2rem;
}

.links a {
  text-decoration: none;
  color: white;
  transition: all ease 0.5s;
}

a:hover {
  color: #00909e;
}

/* About me section */

.about-me {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  background: #e5e5e5;
  padding: 2rem;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.revealHome {
  min-height: 90vh;
  min-width: 100%;
  background: #142850;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 9999;
}

.about-me-text {
  font-size: 3rem;
  flex: 2 1 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-me-text p {
  padding: 2rem;
  width: 90%;
}

.about-me-text h2 {
  padding-left: 2rem;
  font-size: 4rem;
}

.social-media {
  display: flex;
  align-items: center;
  /* padding-top: 25rem; */
}

.social-media img {
  margin: 3rem;
}

.about-me-image {
  flex: 1 1 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#splash {
  position: absolute;
  z-index: -1;
  right: -20px;
  top: -5px;
}

#me {
  animation: wiggle 2s linear infinite alternate;
  transform-origin: bottom;
}

#twonote {
  animation: wiggle 3s infinite alternate linear;
  transform-origin: bottom;
}

#eightnote {
  animation: notes 2s infinite alternate linear;
}

/* Projects section */

.projectHead {
  background: #e5e5e5;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectHead h2 {
  font-size: 3rem;
}

.projects {
  min-height: 90vh;
  background-color: #e5e5e5;
}

.gitCard {
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  padding: 2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all ease 0.5s;
  width: 426px;
  height: 146px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background: white;
}

.gitCard:hover {
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.5);
}

.gitCard h2 {
  padding: 1rem;
}

.gitCard p {
  font-size: 1.2rem;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* Contact Section */

.contactHead {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
}

.contactHead h2 {
  font-size: 3rem;
}

.form-section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #e5e5e5;
  position: relative;
}

.form-section h2 {
  margin: 4rem;
}

.colin {
  height: 300px;
  border-radius: 360px;
}

/* Footer Section */

footer {
  min-height: 10vh;
  background: rgb(54, 52, 52);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
}

/* Animations */

@keyframes wiggle {
  from {
    transform: rotateZ(-3deg);
  }
  to {
    transform: rotateZ(3deg);
  }
}

@keyframes notes {
  from {
    transform: rotateZ(7deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animate {
  from {
    transform: translateY(-3rem);
  }
  to {
    transform: translateY(0);
  }
}

/* Media queries */

/* For ipad pro */
@media screen and (max-width: 1024px) {
  .about-me-text {
    font-size: 3.5rem;
  }
  .about-me-text h2 {
    text-align: center;
    padding: 0rem;
  }
  .about-me-text p {
    width: 100%;
    text-align: center;
  }
  .about-me-image svg {
    height: 300px;
  }
  #splash {
    display: none;
  }
  .social-media {
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
  }

  /* Projects section */
  .row img {
    height: 550px;
  }
}
/* For tablets and below */

@media screen and (max-width: 990px) {
  /* header section */
  .links li {
    padding: 1rem;
  }
  /* About me Section */
  .about-me-text {
    font-size: 2rem;
  }
  .about-me-text h2 {
    text-align: center;
    padding: 0rem;
  }
  .about-me-text p {
    width: 100%;
    text-align: center;
  }
  .about-me-image svg {
    height: 300px;
  }
  #splash {
    display: none;
  }
  .social-media {
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
  }

  /* Projects section */
  .gitCard {
    width: 300px;
  }

  /*Contact Section */
  .form {
    flex-direction: column;
  }
  .form img {
    height: 200px;
  }
}
