* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.about-me,
.projects,
.form-section {
  animation: fade 2s ease;
}

body {
  font-family: "Montserrat", sans-serif;
}

.active {
  text-decoration: underline;
  text-decoration-color: #a87000;
}

/* header section */

.header {
  min-height: 10vh;
  background: #003c96;
  color: white;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header button {
  background: white;
}

.ham-menu img {
  height: 2rem;
  width: 2rem;
}

.navbar-brand {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myName {
  padding-left: 1rem;
  color: white;
}

.links {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-shadow: 2px 2px black;
}

.links li {
  padding: 2rem;
}

.links a {
  text-decoration: none;
  color: white;
  transition: all ease 0.5s;
}

a:hover {
  color: #a87000;
}

/* About me section */

.about-me {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  background: #e5e5e5;
  padding: 2rem;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.about-me-text {
  font-size: 3rem;
  flex: 2 1 40rem;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.about-me-text p {
  padding: 2rem;
  width: 90%;
}

.about-me-text h2 {
  padding-left: 2rem;
}

.social-media {
  display: flex;
  align-items: center;
  padding-top: 35rem;
}

.social-media img {
  margin: 3rem;
}

.about-me-image {
  flex: 1 1 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#splash {
  position: absolute;
  z-index: -1;
  right: -20px;
  top: -5px;
}

#me {
  animation: wiggle 2s linear infinite alternate;
  transform-origin: bottom;
}

#twonote {
  animation: wiggle 3s infinite alternate linear;
  transform-origin: bottom;
}

#eightnote {
  animation: notes 2s infinite alternate linear;
}

/* Projects section */

.projects {
  min-height: 90vh;
  background-color: #e5e5e5;
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)); */
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
  flex-wrap: wrap;
}

.row img {
  height: 50rem;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);
  border-radius: 15px;
  margin-bottom: 1.5rem;
}

.row h2 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

/* Contact Section */

.form-section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5), 0px 20px 20px rgb(0, 0, 0, 0.5);
  border-radius: 2rem;
  padding: 5rem 10rem;
}

textarea,
input {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: 2rem;
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

textarea {
  width: 40rem;
}

button {
  padding: 2rem 5rem;
  background: white;
  color: #003c96;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  cursor: pointer;
  border: solid 2px #003c96;
  border-radius: 1rem;
  transition: all ease 0.5s;
}

button:hover {
  background: #003c96;
  color: white;
}

/* Footer Section */

footer {
  min-height: 10vh;
  background: rgb(54, 52, 52);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
}

/* Animations */

@keyframes wiggle {
  from {
    transform: rotateZ(-3deg);
  }
  to {
    transform: rotateZ(3deg);
  }
}

@keyframes notes {
  from {
    transform: rotateZ(7deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media queries */

@media screen and (min-width: 1550px) {
}
